*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #61ba61;
}

.row {
    width:100%;
}
.third {
    width: 33.3%;
}

.bootstrap-tagsinput{
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .third {
        width: 100%;
    }
    body {
        overflow-y: visible;
        height: auto;
    }
    #settings {
        width: 8%;
    }
}

.inputs {
    padding-top: 1%;
    margin-bottom: 1%;
}
.title {
    padding-top: 1%;
}

img {
    max-width: 100%;
    max-height: 100%;
}


#submit
{
    margin: auto;
    font-size: 1.5em;
}
.label{
    font-size: 1.2em;
    color: #333;
}
#recipeTitle{
    color: #333;
    font-size: 1.2em;
}
#loader {
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #EFEFEC;
    /*background: grey;*/
}
#loader img{
    padding: 0 auto;
    margin: 0 auto;
    height: 50vh;
    width: auto;
    display: block;
}

#recipes {
    background-color: #efefec;
    padding-left: 0px;
    padding-right: 0px;
}

#ingredients{
    background-color: #EFEFEC;
}

#hide-ingredients{
    margin-bottom: 10px;
}

/*body, html {*/
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*height: 100%;*/
/*}*/

#recipe1, #recipe2, #recipe3 {
    cursor: pointer;
    /*border: solid black 1px;*/
}

#ingredientsList{
    text-align: left;
}

.tagsinput {
    width: 250px;
}

.logo{
    width: 10%;
}

.moreInfo{
    margin-top: 10px;
}

.recipeItem{
    margin-bottom: 10px;
}

#settings {
    width: 3%;
    margin: 1%;
    cursor: pointer;
}

.selectpicker{
    margin-left: 15px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    margin-left: 15%;
}



/*

SIDENAV STYLES

 */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown-menu>li>a{
    font-size: 0.8em;
}